*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-body: #202124;
    --cor-cont: rgb(248, 248, 248);
    --cor-font: #222222;
}

body {
    background-color: var(--cor-body);
}

.container {
    background-color: var(--cor-cont);
    margin: 45px;
    border-radius: 1.25rem;
}

h1 , p {
    color: white;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.7;
}