@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-body: #202124;
    --cor-cont: rgb(248, 248, 248);
    --cor-font: #222222;
    --cor-span: rgba(255, 0, 0, 0.74);
    --cor-btnHover: rgb(255, 255, 255);
    --cor-footerHover: rgba(255, 255, 255, 0.534);
    --cor-footer: rgb(255, 255, 255);
    --cor-backBtn: rgb(206, 206, 206);
}

body {
    background-color: var(--cor-body);
}

.container {
    background-color: var(--cor-cont);
    margin: 45px;
    border-radius: 1.25rem;
    padding: 14px;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 300;
}

.container h1 span {
    color: var(--cor-span);
}

.container #question {
    padding-bottom: 10px;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.container #options button {
    background-color: var(--cor-backBtn);
    margin-bottom: 10px;
    cursor: pointer;
    display: grid;
    border: 0px;
    padding: 3.9px;
    border-radius: 1.25rem;
}

.container button#submit {
    cursor: pointer;
    border: 0px;
    background-color: var(--cor-backBtn);
    border-radius: 1.25rem;
    padding: 3.9px;
}

.container #options button:hover {
    color: var(--cor-btnHover);
    background-color: #0099ff;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    100%{
        opacity: 0.9;
    }
}

footer p, a {
    text-align: center;
    color: var(--cor-footer);
}

footer p a:hover {
    color: var(--cor-footHover)
}









#custom-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#custom-popup h2 {
    margin-top: 0;
}

#custom-popup p {
    margin-bottom: 10px;
}

#custom-popup button {
    background-color: #3498db;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}